body{
    background-color: aqua;
    margin: absolute;
}
textarea{
    vertical-align: middle;
    box-sizing: border-box;
    width: 35%;
  height: 150px;
  
  box-sizing: border-box;
  border: 2px solid rgb(39, 151, 216);
  border-radius: 4px;
  background-color: #21a7e6;
 resize: none;
}
.btn{
    
    line-height: normal;
    text-transform: uppercase;
   
    font-weight: 700 ;
    
    letter-spacing: 0;
    border-radius: 30px;
    height: auto;
    padding: 12px  16px;
    

}
.btn:hover {
	cursor: pointer;
	padding: .5em 1.7em;
}